<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cms" translate="label" sortOrder="342" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>general</tab>
            <group id="yireo_testcmsblock" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Yireo TestCmsBlock</label>
                <field id="block_name" type="select" translate="label" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Name</label>
                    <source_model>Yireo\TestCmsBlock\Model\Config\Source\Block</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
